 * {
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
 }
 
 
header {
    background-color: chartreuse;
    border-radius: 15px;
    color: white;
    padding: 40px 20px;
    text-align: center;
    border-bottom: 4px solid #fff;
    width: 100%;
    height: 70%;
    left: 50%;
    right: 50;
    display: flexbox;
    justify-content: center;
    margin: 0;
 }


 main {
    background-color: darkgray;
    border-radius: 15px;
    padding: 35px;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:baseline;
    font-size: x-large;
    flex-direction: column;
    gap: 50px;
 }

 .card {
    background-color: chartreuse;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba (0,0,0,0.15);
    overflow: hidden;
    max-width: 800px;
    display: flex;
    transition:transform 0.3ms ease;
    margin-left: 80px;
    margin-right: 80px;
 }

 footer{
    background-color: chartreuse;
    border-radius: 15px;
    text-align: left;
    align-items: baseline;
    padding: 20px;
    font-size: 25px;
 }
 

 h1{
    border:chartreuse solid 5px;
    border-radius: 15px;
    height: 70px;
    width:auto;
 }

 button {
    background-color:darkgray;
    color: chartreuse;
    border-radius: 25px;
    font-size: 30px;
    align-items: center;
    text-align: center;
    display: flex;
 }

